In [1]:
#assign value to varibles
num1 = 100
num2 = 12.50
name = "Phorn Sophy"
#output values
print(num1)
print(num2)
print(name)

#print(num1, num2, name)
print("Integer:", num1)
print("My name's:", name)

100
12.5
Phorn Sophy
Integer: 100
My name's: Phorn Sophy

In [ ]:
# by default from input function is string
name = input("Enter name: ")
# use int() to covert into integer number
num1 = int(input("Enter number: "))
#use float() to convert into float number
num2 = float(input("Enter float: "))

print(num1)
print(num2)
print(name)

In [2]:
x = 10
name = "Khmer "
print(x)
print(name)

10
Khmer

In [4]:
name = input("Enter name: ")
print("My name's: ", name)

Enter name: Noun Sreynann
My name's:  Noun Sreynann

In [17]:
# concat
num1 = "My name"
num2 = "Sovath"
name = num1 + " is " + num2
print(name)

#print(num1 + " " + num2 + " 18 years old")

My name is Sovath

In [22]:
# Operator
num1 = int(input("Enter number1: "))
num2 = int(input("Enter number2: "))

print("Sum(+) of num1 and num2 =", num1 + num2)
print("Minus(-) of num1 and num2 =", num1-num2)
print("Mutiple(*) of num1 and num2 =", num1*num2)
print("Divide(/) of num1 and num2 =", num1/num2)

Enter number1: 12
Enter number2: 3
Sum(+) of num1 and num2 = 15
Minus(-) of num1 and num2 = 9
Mutiple(*) of num1 and num2 = 36
Divide(/) of num1 and num2 = 4.0

In [31]:
# Operator (+) (-) (*), and (/)
num1 = int(input("Enter number1: "))
num2 = int(input("Enter number2: "))

print("\tSum(+) of",num1, "and", num2, "=", num1 + num2)
print("Sum(+) of num1 and num2 =", num1 + num2)
print("\n\n")

print(f"Sum(+) of {num1} and {num2} =", num1 + num2)
print(f"Minus(-) of {num1} and {num2} =", num1-num2)
print(f"Mutiple(*) of {num1} and {num2} =", num1*num2)
print(f"\tDivide(/) of {num1} and {num2} =", num1/num2)

Enter number1: 20
Enter number2: 10
	Sum(+) of 20 and 10 = 30
Sum(+) of num1 and num2 = 30



Sum(+) of 20 and 10 = 30
Minus(-) of 20 and 10 = 10
Mutiple(*) of 20 and 10 = 200
	Divide(/) of 20 and 10 = 2.0

In [36]:
age = 20
hbd = "Happy " + str(age) + "rd Birthday"
print(hbd)

Happy 20rd Birthday

In [40]:
age = 20
print(type(age))
print(type(str(age)))

<class 'int'>
<class 'str'>