In [ ]:
print("Hello Day one")
print("f{10}")

In [ ]:
n = int(input("Enter the number of records: "))
students = []

for _ in range(n):
    print(f"***************Student[{_ + 1}]")
    name = input("Enter student name: ")
    score1 = float(input("Enter score 1: "))
    score2 = float(input("Enter score 2: "))
    score3 = float(input("Enter score 3: "))

    average = (score1 + score2 + score3) / 3

    students.append((name, score1, score2, score3, average))

# Print the records
for student in students:
    print("Name:", student[0])
    print("Score 1:", student[1])
    print("Score 2:", student[2])
    print("Score 3:", student[3])
    print("Average:", student[4])
    print()

In [ ]:
n = int(input("Enter the number of records: "))
students = []

for _ in range(n):
    print(f"***************Student[{_ + 1}]")
    name = input("Enter student name: ")
    score1 = float(input("Enter score 1: "))
    score2 = float(input("Enter score 2: "))
    score3 = float(input("Enter score 3: "))

    average = (score1 + score2 + score3) / 3

    students.append((name, score1, score2, score3, average))

# Print the records
for student in students:
    print("Name:", student[0])
    print("Score 1:", student[1])
    print("Score 2:", student[2])
    print("Score 3:", student[3])
    print("Average:", student[4])
    print()

In [2]:
name = input("Enter name: ")
gender = input("Enter gender")
age = input("Enter age: ")

print("My name: " , name)
print("Gender: ", gender)
print("Age: ", age)

Enter name: Keo Sreymich
Enter genderFemale
Enter age: 20
My name:  Keo Sreymich
Gender:  Female
Age:  20

In [3]:
name = input("Enter name: ")
gender = input("Enter gender")
age = input("Enter age: ")

print(f"My name's {name}, and I'm {age} years old")

Enter name: Phorn Sophy
Enter genderFemale
Enter age: 22
My name's Phorn Sophy, and I'm 22 years old